<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>l'équipe du citrons' website!</title>
    </head>
    <body>
        <div class="container">
            <h1>l'équipe du citrons' website!</h1>
            <form method="POST" action="/">
                <div class="form__fieldset">
                    <label for="name" class="form__label">name:</label>
                    <input type="text" name="name" id="name" class="form__input"/>
                </div>
                <div class="form_fieldset">
                    <input class="form__submit form__input" type="submit" value="Submit">
                </div>
            </form>
            <video width="500px" height="400px" controls>
                <source src="{{ url_for('static', filename='youtube_flsdI6Q7Mpw_640x360_h264.mp4') }}" type="video/mp4">
            </video>
        </div>
    </body>
</html>