<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>l'équipe du citrons' website!</title>
    </head>
    <body>
        <h1>l'équipe du citrons' website!</h1>
        <form method="POST" action="/">
            <div class="form__fieldset">
                <label for="name" class="form__label">name:</label>
                <input type="text" name="name" id="name" class="form__input"/>
            </div>
            <div class="form_fieldset">
                <input class="form__submit form__input" type="submit" value="Submit">
            </div>
        </form>
        
    </body>
</html>